<div class="mdui-col-xs-12 mdui-col-sm-6 mdui-col-md-4 row_distant">
    <div class="mdui-card mdui-typo">
        <div class="mdui-card-media">
            <img src="img/card.jpg"/>
            <div class="mdui-card-media-covered">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">作业名</div>
                    <div class="mdui-card-primary-subtitle">课程</div>
                </div>
            </div>
        </div>
        <div class="mdui-card-content">
            <div class="mdui-chip">
                <span class="mdui-chip-title"><strong>开始时间:</strong></span>
            </div>
            <div class="mdui-chip left-set">
                <span class="mdui-chip-title">2020-03-17 10:40</span>
            </div>
            <br>
            <div class="mdui-chip">
                <span class="mdui-chip-title"><strong>截止时间:</strong></span>
            </div>
            <div class="mdui-chip left-set">
                <span class="mdui-chip-title">2020-03-17 10:40</span>
            </div>
        </div>
    </div>
</div>